@font-face {
  font-family: VP Pixel;
  src: url("https://powerbox1000.github.io/free-fonts/font/vppixel.otf") format(opentype);
}

@font-face {
  font-family: Liberation Sans;
  src: url("https://powerbox1000.github.io/free-fonts/font/liberationsans.otf") format(opentype);
}
@font-face {
  font-family: Syne Mono;
  src: url("https://powerbox1000.github.io/free-fonts/font/synemono.otf") format(opentype);
}

@font-face {
  font-family: Syne Tactile;
  src: url("https://powerbox1000.github.io/free-fonts/font/synetactile.otf") format(opentype);
}

@font-face {
  font-family: Itim;
  src: url("https://powerbox1000.github.io/free-fonts/font/itim.otf") format(opentype);
}
