@font-face {
  font-family: VP Pixel;
  src: url("https://free-fonts.github.io/font/vppixel.otf") format(opentype);
}

@font-face {
  font-family: Liberation Sans;
  src: url("https://free-fonts.github.io/font/liberationsans.otf") format(opentype);
}
@font-face {
  font-family: Syne Mono;
  src: url("https://free-fonts.github.io/font/synemono.otf") format(opentype);
}

@font-face {
  font-family: Syne Tactile;
  src: url("https://free-fonts.github.io/font/synetactile.otf") format(opentype);
}

@font-face {
  font-family: Itim;
  src: url("https://free-fonts.github.io/font/itim.otf") format(opentype);
}
