.vppixel {
  font-family: VP Pixel;
}

.liberationsans {
  font-family: Liberation Sans;
}

.itim {
  font-family: Itim;
}

.synemono {
  font-family: Syne Mono;
}

.synetactile {
  font-family: Syne Tactile;
}